.error {
  position: fixed;
  top: 90px;
  right: 20px;
  padding: 10px;
  background-color: var(--background-color);
  border-radius: 6px;
  border-bottom: 3px solid #ff0000;
  width: 300px;
  overflow: hidden;
  animation: fadeIn 0.4s ease forwards;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    transform: translateX(400px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.error .content {
  display: inline-flex;
  gap: 20px;
  align-items: center;
  position: relative;
}

.error .content .icon {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 50%;
}

.error .content .text {
  color: #ff0000;
}
