.history-container{
    width: 100%;
    box-sizing: border-box;
}

.history-container .empty-indicator{
    width: 100%;
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.history-container .empty-indicator p{
    font-size: 20px;
    font-weight: 500;
}

.history-container .empty-indicator a{
    padding: 12px 10px;
    background-color: var(--primary-color);
    border-radius: 6px;
    border: 3px solid transparent;
    color: #fff;
    text-decoration: none;
    transition: 0.3s ease border, 0.3s ease background-color, 0.3s ease color;
}

.history-container .empty-indicator a:hover{
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    background-color: #fff;
}

.history-container .empty-indicator img{
    width: 256px;
    user-select: none;
    -webkit-user-drag: none;
}

.history-container .empty-indicator.show{
    display: flex;
}

.history-container .content{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.history-container .content .item{
    width: 100%;
    box-sizing: border-box;
    padding: 15px 32px;
    background-color: #fff;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
}

.history-container .content .item .heading{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.history-container .content .item .heading .title{
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 0;
}

.history-container .content .item .heading .subTitle{
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

.history-container .content .item .heading .subTitle p{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 0;
}

.history-container .content .item .heading .subTitle .separator{
    width: 1px;
    height: 20px;
    background-color: #000;
}

.history-container .content .item .buttons{
    display: inline-flex;
    gap: 20px;
    margin-left: auto;
}

.history-container .content .item .buttons button{
    border: 3px solid var(--primary-color);
    background-color: transparent;
    font-family: Inter, sans-serif;
    color: var(--primary-color);
    padding: 12px 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: auto;
}

.history-container .content .item .buttons button:hover{
    background-color: var(--primary-color);
    color: #fff;
    border: 3px solid transparent;
}

.history-container .content .item .buttons .delete-button{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history-container .content .item .buttons .delete-button:hover{
    border: none;
    background-color: transparent;
}

.history-container .content .item .buttons .delete-button:hover svg path{
    stroke: var(--primary-color);
}