.review-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review-form .buttons {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.review-form .buttons button {
  padding: 6px 7px;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: border 0.3s ease;
}

.review-form .buttons .title {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  transition: color 0.3s ease;
}

.review-form .buttons .subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.review-form .buttons button[data-active="true"],
.review-form .buttons button:hover {
  border: none;
}

.review-form .buttons button[data-active="true"] svg,
.review-form .buttons button:hover svg {
  fill: var(--primary-color);
}

.review-form .buttons button[data-active="true"] svg path,
.review-form .buttons button:hover svg path {
  stroke: var(--primary-color);
}

button[data-filled="true"] svg path {
  stroke: var(--primary-color);
}

button[data-filled="true"] svg {
  fill: var(--primary-color);
}

.review-form .input-field {
  width: 100%;
}

.review-form .input-field textarea,
.review-form .input-field input {
  width: 100%;
  border-radius: 6px;
  border: none;
  background-color: #fff;
  padding: 10px 15px;
  box-sizing: border-box;
  resize: none;
  height: auto;
  font-size: 14px;
  overflow: hidden;
  transition: border-color 0.3s ease;
  font-family: inherit;
  color: #000;
}

.review-form .input-field textarea {
  min-height: 200px;
}

.review-form .input-field textarea:focus,
.review-form .input-field input:focus {
  outline: none;
}

.submit-button {
  width: fit-content;
  padding: 12px 24px;
  margin: 0 auto;
  background-color: var(--primary-color);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  border: 3px solid transparent;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.submit-button:hover {
  background-color: #fff;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
}